canvas {
  background: #D1D1D1;
}
#easing canvas, #easing ul.actions {
  float: left;
}
#easing li {
  margin: 5px 0;
}
#easing li a {
  margin: 0 5px;
}
#easing li a.current {
  background: yellow;
}
