---
url-base: /OOPCanvas
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8"/>

        <link rel="stylesheet" href="{{ page.base }}/css/style.css" />
        
        <script src="{{ page.url-base }}/dist/lib.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ page.url-base }}/dist/oc.js" type="text/javascript" charset="utf-8"></script>

        <script src="{{ page.url-base }}/js/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
        {% for script in page.scripts %}
        <script src="{{ page.url-base }}/js/{{ script }}" type="text/javascript" charset="utf-8"></script>
        {% endfor %}
    </head>
    <body id="{{ page.id }}">
        {{ content }}
    </body>
</html>
