--- 
media: /OOPCanvas
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8"/>

        <link rel="stylesheet" href="{{ page.media }}/css/style.css" />
        
        <script src="{{ page.media }}/dist/lib.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ page.media }}/dist/oc.js" type="text/javascript" charset="utf-8"></script>

        <script type="text/javascript" language="javascript" charset="utf-8">
            document.DEMO = {
                'media': "{{ page.media }}"
            };
        </script>

        <script src="{{ page.media }}/js/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
        {% for script in page.scripts %}
        <script src="{{ page.media }}/js/{{ script }}" type="text/javascript" charset="utf-8"></script>
        {% endfor %}
    </head>
    <body id="{{ page.id }}">
        test
        {{ content }}
    </body>
</html>
